<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.books">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_books">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <application
        android:hasCode="true"
        tools:replace="android:hasCode">
        <activity android:name=".view.BookActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.example.books.view.BookActivity"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>
        <activity android:name=".view.ManageBookActivity"/>
    </application>
</manifest>

